/Boletin5/Boletin5/nbproject/private/
/Boletin5/Boletin5/build/
/Boletin5/Boletin2_extra/nbproject/private/
/Boletin5/Boletin2_extra/build/
/Boletin5/Boletin6/nbproject/private/
/Boletin5/Boletin6/build/
/Boletin5/Boletin6_2/nbproject/private/
/Boletin5/Boletin6_2/build/
/Boletin5/Boletin6_3/nbproject/private/
/Boletin5/Boletin6_3/build/
/Boletin5/Calendar/nbproject/private/
/NewFolder/JavaApplication15/nbproject/private/
/NewFolder/JavaApplication15/build/
